
@function sum($left, $right){
   @return $left + $right;
}

@function em($pixels, $context:16px){
    @return ($pixels/ $context) * 1em;
}

// @function col-width($column :12, $page-width: 100%, $gap: 1%){
//     @return ($page-width - $gap*($column -1))/ $columm;
// }

@function strip-unit($value){
    @return $value/ ($value*0 +1);
}
