
@mixin blue-beans {
  @if $brand == blue-beans{
    @content;
  }
}

@mixin rogers-rovers {
  @if $brand == rogers-rovers {
    @content;
  }
}

@mixin pastry-pizza {
  @if $brand == pastry-pizza{
    @content;
  }
}

@mixin tiny-screens() {
  @media only screen and (max-width: 320px){
    @content;

  }
}
@mixin small-screens() {
  @media only screen and (max-width: 480px){
    @content;
    
  }
}
@mixin medium-screens() {
  @media only screen and (max-width: 680px){
    @content;
    
  }
}
@mixin large-screens() {
  @media only screen and (max-width: 960px){
    @content;
    
  }
}

@mixin google-font($font) {
  $font: unquote($font);
  @import url(https://fonts.googleapis.com/css?family=#{$font});
}

@mixin warning {
    background-color: orange;
    color: #fff;

    &:hover{
      background-color: lighten(orange, 10%);
    }
  }

  //the $shadows... the three dots makes it a variable argument
  @mixin box-shadow($shadows...) { 
    box-shadow: $shadows;
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
  }

  @mixin apply-to-ie-6 {//hack for ie 6 there are others for other webbrowsers that are specific to the browser
    * html{
      @content;
    }
  }
  
  @mixin large-text {
    font: {
      size: 22px;
      weight: bold;
    }
  }
  
  @mixin rounded($radius: 6px) {
    border-radius: $radius;
  }
  @mixin box($radius: 6px, $border: 1px solid #000) {
    @include rounded($radius);
    border: $border;
  }
  
  @mixin fancy-links {
    a{
      font-style: italic;
      text-decoration: none;
    }
  }
  