//THEME
//Allowed Dark, light, default
$theme: Dark;


//Allowed values: blue beans, rogers-rovers, pastry pizza
$brand: blue-beans;

// COLORS section
$text-color: #222222;
$body-background-color: #fff;
$theme-color: #170a48;
$secondary-color: #f27731;
$ternary-color: #ccf962;
$link-color: $secondary-color;
$menu-item-color: white;

@if $theme == Dark{
    $text-color: #fff;
    $body-background-color: #22222a;
    $theme-color: #42424a;
    $secondary-color: #c24721;
    $ternary-color: #698932;
    $link-color: $secondary-color;
    $menu-item-color: white;  
}@else if $theme ==light{
    $text-color: #000;
    $body-background-color: #fff;
    $theme-color: #372a27;
    $secondary-color: #d26741;
    $ternary-color: #b9da63;
    $link-color: $secondary-color;
    $menu-item-color: white; 
}@else{
    $text-color: #222222;
$theme-color: #170a48;
$secondary-color: #f27731;
$ternary-color: #ccf962;
$link-color: $secondary-color;
$menu-item-color: white;
}


// FONTS section
$text-font: "Alegreya Sans", Arial, sans-serif;
$headline-font: "Titillium Web", Georgia, serif;

// SIZES section
$content-width: 960px;
$footer-height: 90px;
$header-height: 60px;
// $col: col-width($column: 8);
