@import "normalize";
@import "susy";
@import "breakpoint";

$susy: (
    columns: 16,
    debug: (image: show)
    global-box-sizing: border-sizing

);

@include border-box-sizing;

$medium-screen: 720px;

.container{
    //height: 100vh; //removed to so on columns completly in the mobile device format
    @include container(1140px);
    // container can include a px width and the whole container changes size but the layout stays the same
}

.sidebar-left{
    height: 80vh;
    background-color: rgba(0,100,100, 0.6);
    display: none;

    //breakpoint requires a min width it is for mobile first design
    @include breakpoint($medium-screen){
    @include span (2 of 16);
    }
}

.main{
    height: 80vh;

    @include breakpoint($medium-screen){
    @include span( 10 of 16);
    }
    .content{
        height: 60vh;
        background-color: rgba(100, 0,0, 0.6);
    }
    .teaser{
        height: 20vh;
        background-color: rgba(100, 30, 100, 0.6);
        padding: gutter(10);// or could use span(1 of 10) instead of gutter
        @include span(10 of 10);
        @include span(2 of 10);

        // this is used to put the last teaser in line wit the others
        &:nth-child(5n){
            @include last;
        }
        @include breakpoint($medium-screen){
            @include span(2 0f 10);
             // this is used to put the last teaser in line wit the others
        &:nth-child(5n){
            @include last;
        } 
        }
    }
}

.sidebar-right{
    height: 80vh;
    background-color: rgba(100, 100, 30, 0.6);
    clear:both;// corect the ouput on smaller screens
    //last is here is the same as the @include last in the teaser
    @include breakpoint($medium-screen){
        clear: none;
    @include span(4 of 16 last);
}
}

.footer{
    height: 20vh;
    background-color: rgba(0,30,100, 0.6);
    clear:both;// used because the footer was at the top of the page
}