@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
.col-1 {
  width: 2em;
}

.col-2 {
  width: 4em;
}

.col-3 {
  width: 6em;
}

.col-4 {
  width: 8em;
}

.col-5 {
  width: 10em;
}

.col-6 {
  width: 12em;
}

.bob-banker-profile {
  background-image: url("/img/bob-banker.png");
}

.patty-plume-profile {
  background-image: url("/img/patty-plume.png");
}

.sandra-smith-profile {
  background-image: url("/img/sandra-smith.png");
}

.tiny {
  font-size: 8px;
}

.small {
  font-size: 11px;
}

.medium {
  font-size: 13px;
}

.large {
  font-size: 18px;
}

* html body {
  font-size: 125%;
}

.error, .critical-error, .cta-button, .super-cta-button {
  color: red;
}

.critical-error {
  bottom: 1px solid red;
  font-weight: bold;
}

a {
  font-style: italic;
  text-decoration: none;
}

body {
  font-family: "Alegreya Sans", Arial, sans-serif;
  color: #fff;
  font-size: 1.125em;
  background-color: #22222a;
}

@media only screen and (max-width: 960px) {
  body {
    font-size: 125%;
  }
}

h1, h2, h3, h4 {
  font-family: "Titillium Web", Georgia, serif;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

a {
  color: #c24721;
  color: #8778ff;
}

a:hover {
  color: #812f16;
}

.sub-title {
  font-style: italic;
}

.sub-title {
  font-size: 1.25em;
}

.warning-button, .cta-button, .super-cta-button {
  background-color: orange;
  color: #fff;
  padding: 8px 12px;
}

.warning-button:hover, .cta-button:hover, .super-cta-button:hover {
  background-color: #ffb733;
}

.cta-button, .super-cta-button {
  border-radius: 6px;
  font-weight: bold;
}

.super-cta-button {
  font-size: 1.25em;
}

#header {
  border-radius: 8px;
  border: 1px solid #999;
  box-shadow: 2px 0px 4px #999, 1px 1px 6px #c24721;
  -moz-box-shadow: 2px 0px 4px #999, 1px 1px 6px #c24721;
  -webkit-box-shadow: 2px 0px 4px #999, 1px 1px 6px #c24721;
  height: 60px;
  background-color: #42424a;
}

#header #main-menu li {
  display: inline;
}

#header #main-menu a {
  color: white;
  border-bottom: 1px solid rgba(254, 254, 254, 0);
  padding: 6px 8px;
  -webkit-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#header #main-menu a:hover {
  border-bottom: 1px solid #fefefe;
}

#main {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 960px) {
  #main {
    width: auto;
    max-width: 960px;
  }
}

#main #sidebar li {
  list-style-type: none;
  padding: 1em 1.25em;
  border-bottom: 1px dashed #999;
}

#main #sidebar li:hover {
  background-color: #efefef;
}

#footer {
  clear: both;
  height: 90px;
  background-color: #698932;
}
/*# sourceMappingURL=main.css.map */