@import "partials/functions";
@import "partials/variables";
@import "partials/mixins";

// for loop # is needed to go through the iterations of i(variable)
//for loop can only be used with numbers
// with you use to instead of through, the to stops the upper bound at 5 , so the upper bound is not included
// can change the for loop to be 6 through 1 and it will be loop through decrementally
@for $i from 1 through 6{
  .col-#{$i}{
    width: $i * 2em;
  }
}

// each loops(for each loop)
//each can iterate through anything lists and map

$speakers: bob-banker, patty-plume, sandra-smith;
@each $speaker in $speakers{
  .#{$speaker}-profile{
    background-image: url('/img/#{$speaker}.png');
  }
}

$font-sizes: ( tiny:8px, small: 11px, medium: 13px, large:18px);
@each $name, $size in $font-sizes{
  .#{$name}{
    font-size: $size;
  }
}

//while loops--aren't used often but are more flexible
// these examples so the loop if you want to increment in a step pattern in this case it is plus or minus 2
$j:2;
@while $j<=8{
  .picture-#{$j}{
    width: $j * 10%
  }
  $j: $j +2;
}

$k:8;
@while $k>= 2{
  .picture-#{$k}{
    width: $k *10%;
  }
  $k: $k-2;
}


@include google-font("Alegreya+Sans");
@include google-font("Titillium+Web");

//four cases for normal css imports
// @import url();
// @import "http://";
// @import "filename.css";
// @import "style-screen" screen;

@include apply-to-ie-6{
  body{
    font-size: 125%;
  }
}

.error{
  color: red;
}

.critical-error{
  //to get all the parts of the error class extend it to another location with @extend
  @extend .error;
  bottom: 1px solid red;
  font-weight: bold;
}

// this variable can be changed to low or normal to see the changes in the css
$contrast: high;

@include fancy-links;
body {
  font-family: $text-font;
  color: $text-color;
  //color: rgb(10, 15, 50);
  font-size: em(18px);
  //the @if taking out due to the transition to themes
  // @if $contrast == high{
  //   color: #000;
  // }@else if $contrast == low{
  //   color: #999;
  // } @else {color: $text-color;
  // }
  // hsl = hue saturation and lightness  hsl(60, 50%, 100%);
  background-color: $body-background-color;

  //@media only screen and (max-width: 960px){
    //this was changed because a mixin was created for the screen size
    @include large-screens{
    font-size:125%;
  }
}

h1, h2, h3, h4 {
  font-family: $headline-font;
}

h2{
  @include large-text;
}

p {
  
}

a {
color: $link-color;

@include blue-beans{
  color: #8778ff;
}

&:hover{
  color: darken($link-color, 15%);
}
}

%highlight{
  font-style: italic;
}

.sub-title{
  @extend %highlight;
  //use the !optional to see if an extend exists if not it won't crash the code if the code doesn't exist
  //@extend .foo !optional; 
  font-size: em(20px);
}

.warning-button{
  @include warning;
  padding: 8px 12px;
}

.cta-button{
  @extend .warning-button;
  @extend .error;
  @include rounded;
  font-weight: bold;
}

.super-cta-button{
  @extend .cta-button;
  font-size: em(20px);
}

// cannnot extend classes that are outside of media queries
//but you can extend whatever is inside a media query to other items


#header {
  @include box($radius:8px, $border:1px solid #999); 
  //other options after adding the arguments to the mixins variables 
  // ($border: 1px solid #fff) or (8px) or no () at all and it will pick up the default values
  @include box-shadow(2px 0px 4px #999, 1px 1px 6px $secondary-color);
  height: $header-height;
  background-color: $theme-color;

  #main-menu {

    li{
      display: inline;
    }

    a {
      color: $menu-item-color;
      border-bottom: 1px solid transparentize(#fefefe, 1);
      padding: 6px 8px;
      transition: border-bottom 0.5s;
      transition-timing-function: ease-in-out;

      &:hover{
        border-bottom: 1px solid opacify(#fefefe, .5);
      }
    }

  }
  
  #logo {

  }
}

#main {
  width: $content-width;
  //@media only screen and (max-width: 960px){
    @include large-screens{
    width: auto;
    max-width: $content-width;
  }
  
  margin-left: auto;
  margin-right: auto;

  #content {
    //float: left;
    // width: 6* $col;
  }

  #sidebar {
    //float: right;
    // width: 2* $col;

    li{
      list-style-type: none;
      padding: em(16px) em(20px);
      border-bottom: 1px dashed #999;

      &:hover{
        background-color: #efefef;
      }
    }
  }
}

#footer {
  clear:both;
height: $footer-height;
background-color: $ternary-color;

//change the $brand name in the variables to rogers rover to see the change
@include rogers-rovers{
  border-top: 5px solid darken($ternary-color, 15%);
}
}
